
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
       
        <h3>@ViewData["storyTitle"]</h3>
        <div style="height:auto;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut condimentum magna. Cras mattis fringilla convallis. Nunc eget risus urna. Donec placerat mauris quis aliquam vehicula. Aenean venenatis odio odio, vel varius mi pellentesque porta. Quisque tincidunt nec justo et iaculis. Aenean convallis lacus orci. Duis ut diam non nulla efficitur blandit sed quis odio. Donec tristique lobortis neque, at porttitor tortor sagittis consectetur. Ut in lacus dui. Etiam placerat eget dolor congue accumsan. Nulla facilisi. Sed faucibus dolor eu orci tempor pharetra egestas nec ex. Aliquam erat volutpat.

            Nullam at tincidunt ante. Etiam vel sapien lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut orci consectetur, imperdiet odio eget, malesuada dui. Aliquam placerat imperdiet purus a aliquet. Pellentesque hendrerit auctor tempor. Integer sit amet fringilla tellus, sed bibendum mi. Donec id egestas sapien, eget aliquam sapien. Aliquam massa ex, auctor sit amet facilisis in, imperdiet a lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec rhoncus nisi est, ut suscipit risus porta in. Nam ultricies luctus aliquam. Duis efficitur libero ultricies massa rutrum, sagittis pulvinar mauris consectetur. In tincidunt massa vitae ipsum suscipit iaculis. Ut ultrices dolor at volutpat luctus. Duis at risus eget dolor tristique ultricies id eget purus.

            Sed dapibus odio suscipit arcu luctus, ut gravida augue mollis. Nam consequat purus tortor, ut malesuada leo vehicula a. Etiam dignissim sagittis volutpat. Nulla facilisis vitae dui in vehicula. Pellentesque diam metus, maximus vel fermentum vitae, commodo tristique lacus. Suspendisse odio neque, volutpat in leo quis, egestas laoreet massa. Nullam ultrices vulputate consequat. Curabitur non sodales risus, sit amet feugiat justo. Nunc ut neque leo. Nullam laoreet non orci eget mollis. Nam viverra magna ac augue ultricies malesuada. Integer eu nisi arcu. Cras at mauris dui.

            Nullam venenatis sapien ut efficitur interdum. Maecenas vehicula in dolor quis congue. Mauris et cursus metus. Nullam interdum, nunc ornare pulvinar varius, eros nulla accumsan diam, sit amet porttitor est sapien ac magna. In at luctus dui. Aliquam sit amet enim eget lacus aliquet bibendum. Nam faucibus metus vitae fermentum mollis. Sed pulvinar mi lacus. Aenean nisi massa, lobortis at efficitur vitae, lacinia et tortor. Fusce fringilla consectetur ligula sit amet faucibus. Morbi sagittis erat elit, et ultricies lectus placerat sed. In tincidunt risus risus, quis euismod arcu venenatis quis. Pellentesque mollis lectus eu risus ultricies, id blandit ipsum auctor. Curabitur lacinia est id sodales accumsan. Donec semper dui id malesuada imperdiet.

            Phasellus sit amet ligula velit. Nullam imperdiet accumsan mollis. Suspendisse at molestie augue, id ullamcorper nibh. Fusce lobortis, arcu sed placerat rhoncus, metus neque blandit ligula, non tristique nulla dolor sed tortor. Proin at convallis ante. Vivamus quis facilisis turpis. Nullam porta orci sed sem egestas pulvinar. Vivamus congue nisi vel maximus volutpat. Pellentesque sed lobortis purus.
        </div>
        <br /><br />
      
    </div>
</div>


